@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  font-family: 'Nunito Sans', sans-serif, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
}

html {
  scrollbar-width: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark .MuiInputBase-input {
  color: #fff;
}

.MuiInputBase-input {
  font-weight: 600 !important;
}

.light [class*=makeStyles-input].MuiGrid-item, .dark [class*=makeStyles-input].MuiGrid-item {
  height: 56px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .light .search, .dark .search {
    margin-top: 24px;
  }
}